<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      {{(playlist$ | async)?.name | titlecase}}
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content *ngIf="playlist$ | async as playlist; else loading" [fullscreen]="true">

  <div id="container">
    <ion-list *ngIf="playlist.todos$ | async as todos; else notYetCreated">
      <ion-item-sliding *ngFor="let todo of todos">
        <ion-card>
          <ion-item lines="none">
            <ion-label>{{ todo.name | titlecase }}</ion-label>
            <ion-checkbox mode="ios" slot="end"></ion-checkbox>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option class="edite-option" (click)="delete(todo)">
              <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
            </ion-item-option>
            <ion-item-option class="delete-option" (click)="delete(todo)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-card>
      </ion-item-sliding>
      <ion-item *ngIf="todos?.length === 0">
        <ion-label>{{playlist.name}} Todo list is empty !</ion-label>
      </ion-item>
    </ion-list>
    <ng-template #notYetCreated>
      <ion-list>
        <ion-item>
          <ion-label>{{playlist.name}} Todo list is empty !</ion-label>
        </ion-item>
      </ion-list>
    </ng-template>

    <!-- <ion-button expand="block" (click)="openModal()">Add Todo</ion-button> -->
  </div>
</ion-content>
<ng-template #loading>
  <ion-content>
    <div class="container">
      <h3 color="danger">{{currentStateMessage}}</h3>
    </div>
  </ion-content>
</ng-template>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-fab-button mode="ios" size="large" (click)="openModal()">+</ion-fab-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>