<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="connexion()">
    <ion-item>
      <ion-label position="stacked">Mail</ion-label>
      <ion-input type="mail" placeholder="Adresse email" formControlName="mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">MDP</ion-label>
      <ion-input type="password" placeholder="Mot de passe" formControlName="mdp"></ion-input>
    </ion-item>
  
    <ion-button [disabled]="loginForm.invalid" expand="block" type="submit">Validate</ion-button>
  </form>
  <ion-button expand="block" (click)="login()">Login</ion-button>
  <ion-button expand="block" (click)="logout()">Logout</ion-button>
</ion-content>
