<ion-header class="ion-no-border ion-text-center">
    <ion-toolbar>
      <ion-title>{{todo ? 'Edit item' : 'Add new item'}}</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <form [formGroup]="todoForm">
        <ion-list lines="none">
            <ion-item>
                <ion-label position="stacked">Name</ion-label>
                <ion-input formControlName="name" clear-input="true"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">Description</ion-label>
                <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">Priority</ion-label>
                <ion-radio-group radio-group formControlName="priority">
                    <ion-grid>
                        <ion-row>
                            <ion-col id="low-radio" class="ion-text-center" size="4">
                                <ion-radio value="low" class="low"></ion-radio>
                            </ion-col>
                            <ion-col id="med-radio" class="ion-text-center" size="4">
                                <ion-radio value="med" class="med"></ion-radio>
                            </ion-col>
                            <ion-col id="high-radio" class="ion-text-center" size="4">
                                <ion-radio value="high" class="high"></ion-radio>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-radio-group>
            </ion-item>
        </ion-list>
        <ion-button mode="ios" size="large" expand="block" shape="round" [disabled]="todoForm.invalid" expand="block" (click)="saveItem()">{{todo ? 'Save' : 'Add'}}</ion-button>
    </form>
</ion-content>
