ion-radio {
    width: 25px;
    height: 25px;
}
.low {
    --color: #74b9ff;
    --color-checked: #74b9ff;
    background: #74b9ff;
    border-radius: 25px;
}

.med {
    --color: #ffeaa7;
    --color-checked: #ffeaa7;
    background: #ffeaa7;
    border-radius: 25px;
}

.high {
    --color: #fab1a0;
    --color-checked: #fab1a0;
    background: #fab1a0;
    border-radius: 25px;
}

.radio-checked {
    border: 2px solid #ffffff;
    width: 27px;
    height: 27px;
}

#low-radio > .radio-checked {
    box-shadow: 0 0 0 1px #74b9ff;
}

#med-radio > .radio-checked {
    box-shadow: 0 0 0 1px #ffeaa7;
}

#high-radio > .radio-checked {
    box-shadow: 0 0 0 1px#fab1a0;
}

div.item-inner-highlight {
    border-color: #ffffff !important;
}

/*  inputs design */

/* ion-item {
    --highlight-height: 0;
} */



ion-input, ion-textarea {
    border-radius: 10px;
    padding: 3px 10px !important;
    margin-top: 20px;
    border: 3px solid #f0f0f0;
    --placeholder-color: #74b9ff;
    margin-left: auto;
    margin-right: auto;
}
ion-textarea {
    min-height: 120px !important;
}

ion-input.has-focus {
    border: 3px solid #74b9ff;
    --color: #636e72;
}
.input:focus {
    border: 3px solid #74b9ff !important;
}

ion-label {
    font-size: larger !important;
    font-weight: bolder;
    color: #2d3436 !important;
    /* padding-left: 30px; */
}



ion-button {
    --background: #74b9ff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    --box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
  0 2px 2px rgba(0,0,0,0.08), 
  0 4px 4px rgba(0,0,0,0.08),
  0 8px 8px rgba(0,0,0,0.08),
  0 12px 12px rgba(0,0,0,0.11);
}