/* footer & header style */
ion-footer > ion-toolbar {
  height: 130px ;
  display: flex;
  align-items: center;
  justify-content: center;
  --background: linear-gradient(to top,  rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 0) 100%);
}


ion-header > ion-toolbar {
  height: 100px ;
  display: flex;
  align-items: center;
  justify-content: center;
  --background: linear-gradient(to bottom,  rgb(255, 255, 255) 70%, rgba(211, 211, 211, 0) 100%);
  --box-shadow: None;
  direction: rtl;
}

ion-footer > ion-toolbar {
  height: 130px ;
  display: flex;
  align-items: center;
  justify-content: center;
  --background: linear-gradient(to top,  rgb(255, 255, 255) 35%, rgba(211, 211, 211, 0) 100%);
  --box-shadow: None;
}

ion-fab-button {
  --background: #74b9ff;
  font-size: 3em;
--box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
0 2px 2px rgba(0,0,0,0.08), 
0 4px 4px rgba(0,0,0,0.08),
0 8px 8px rgba(0,0,0,0.08),
0 12px 12px rgba(0,0,0,0.11),
}

/* user section */
.user-section {
  margin-left: 20px;
}
.user-section > h1 {
  font-size: xx-large;
  color: #2d3436;
}

/* options style */

ion-item-option {
  background-color: transparent;
}

ion-item-option > ion-icon{
  font-size: 30px;
  border-radius: 20px;
  padding: 5px;
  margin-left: 0;
  color: #74b9ff;
}

/* sections style */
.section {
  padding-top: 15px !important;
}
.section > h3 {
  margin-left: 16px;
  color: #b2bec3;
  font-size: large;
}

ion-list {
  margin: 0;
  padding: 0;
}
ion-slide {
  margin: 10px;
}