<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Playlists</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="user-section">
    <h1>What's up, {{(currentUser.name.split(' ')[0] || currentUser.email.split('@')[0])| titlecase}}!</h1>
  </div>

  <div class="section">
    <div class="filter-container">
      <h3>{{'playlists >' | uppercase}}</h3>
      <ion-select interface="popover" [formControl]="playlistFilterControl">
        <ion-select-option value="all">{{'All' | uppercase}} </ion-select-option>
        <ion-select-option value="mines">{{'Mines' | uppercase}}</ion-select-option>
        <ion-select-option value="shared">{{'Shared with me' | uppercase}}</ion-select-option>
      </ion-select>
    </div>

    <div *ngIf="(playlists$ | async) as playlists">
      <!-- slides -->
      <ion-slides [options]="slideOpt">
        <ion-slide *ngFor="let playlist of playlists;">
          <app-playlist-card [playlist]="playlist"></app-playlist-card>
        </ion-slide>
      </ion-slides>
      <div *ngIf="playlists.length === 0">
        <img src="assets/boost.png" alt="get started">
        <h3 class="no-items">Creat a playlist, or check filters !</h3>
      </div>
    </div>
  </div>

  <div class="section">
    <h3>{{'Next tasks' | uppercase}}</h3>
    <div *ngIf="(topItems | async) as items">
      <ion-list>
        <ion-item-sliding *ngFor="let item of items; trackBy:trackFunction">
          <app-todo-card [todo]="item"></app-todo-card>
          <ion-item-options side="end">
            <ion-item-option class="view-list-option" [routerLink]="[item.playlistId]" routerLinkActive="true">
              <ion-icon slot="icon-only" name="reorder-four-outline"></ion-icon>
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
  <div>
    <h3 class="no-items">No task todo</h3>
  </div>
  <!-- <ng-template #noNextItem>
    <h3>Loading playlists ...</h3>
  </ng-template> -->
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-fab-button size="large" (click)="creatList()">+</ion-fab-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>