<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Playlists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Playlists</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="section">
    <h2>Shared with me</h2>
    <ion-slides *ngIf="(playlists$ | async) as playlists;" [options]="slideOpt">
      <ion-slide *ngFor="let playlist of playlists;">
          <app-playlist-card [playlist]="playlist"></app-playlist-card>
      </ion-slide>
    </ion-slides>

  </div>

  <div id="container">
    <ion-list *ngIf="(playlists$ | async) as playlists; else loading">
      <!-- <ion-item *ngFor="let playlist of playlists;"> -->
        <app-playlist-card *ngFor="let playlist of playlists;" [playlist]="playlist"></app-playlist-card>
      <!-- </ion-item> -->
      <ion-item *ngIf="playlists.length === 0">
        <ion-label>No playlist exists !</ion-label>
      </ion-item>
    </ion-list>
    <ng-template #loading>
      <h3>Loading playlists ...</h3>
    </ng-template>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-fab-button size="large" (click)="openModal()">+</ion-fab-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>