<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Playlists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Playlists</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="section">
    <h3>{{'Shared with me' | uppercase}}</h3>
    <ion-slides *ngIf="(playlists$ | async) as playlists;" [options]="slideOpt">
      <ion-slide *ngFor="let playlist of playlists;">
          <app-playlist-card [playlist]="playlist"></app-playlist-card>
      </ion-slide>
    </ion-slides>

  </div>

  <div class="section">
    <h3>{{'Today\'s tasks' | uppercase}}</h3>
    <ion-list *ngIf="(todayItems | async) as items; else loading">
      <ion-item-sliding *ngFor="let item of items;" >
        <app-todo-card [todo]="item"></app-todo-card>
        <ion-item-options side="end">
          <ion-item-option class="view-list-option" [routerLink]="[item.playlistId]" routerLinkActive="true">
            <ion-icon slot="icon-only" name="reorder-four-outline"></ion-icon>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ng-template #loading>
      <h3>Loading playlists ...</h3>
    </ng-template>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-fab-button size="large" (click)="openModal()">+</ion-fab-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>