
<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-title>{{playlist ? 'Edit playlist' : 'Add new playlist'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="playlistForm">
      <ion-list lines="none">
          <ion-item>
              <ion-label position="stacked">Name</ion-label>
              <ion-input formControlName="name" cancelable="true" clear-input="true" placeholder="eg: 'Do something'"></ion-input>
          </ion-item>

          <ion-item lines="none">
              <ion-label position="stacked">Style</ion-label>
              <ion-radio-group radio-group formControlName="style">
                    <ion-row>
                      <ion-col class="ion-text-center" size="2">
                        <ion-radio value="blue" class="blue"></ion-radio>
                      </ion-col>
                      <ion-col class="ion-text-center" size="2">
                        <ion-radio value="green" class="green"></ion-radio>
                      </ion-col>
                      <ion-col class="ion-text-center" size="2">
                        <ion-radio value="orange" class="orange"></ion-radio>
                      </ion-col>
                      <ion-col class="ion-text-center" size="2">
                        <ion-radio value="red" class="red"></ion-radio>
                      </ion-col>
                    </ion-row>
              </ion-radio-group>
          </ion-item>
      </ion-list>
      <ion-button mode="ios" size="large" expand="block" shape="round" [disabled]="playlistForm.invalid" expand="block" (click)="saveItem()">{{playlist ? 'Save' : 'Add'}}</ion-button>
  </form>
</ion-content>
